body {
  background: url("wood.jpg");
  background-size: cover;
  margin: 0px;
  font-family: 'Poiret One', cursive;
}

.navbar {
  background-color: rgba(0,0,0,.75);
  width: 15%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.container {
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contentcontainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
}
.content {
  height: 400px;
  width: 30%;
  border: solid black 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.preview {
  height: 300px;
  width: 100%;
  border: solid black1px;
  background-color: azure;
}

.desc {
  height: 30%;
  width: 100%;
  background-color: rgba(0,0,0,.75);
  color: white;
  text-align: center;
  text-shadow: 5px;
}

h1 {
  color: white;
  font-size: 50pt;
}

h6 {
  line-height: 35px;
  color: white;
  font-size: 16pt;
  margin: 20px 5px;
  border-bottom: solid black 1px;
  padding-bottom: 10px;
}

.cap {
  font-size: 35pt;
}


ul {
  list-style: none;
}

li {
  background-color: darkgrey;
  color: white;
  line-height: 30px;
}

@media (max-width: 1000px){
  .container {
    height: 1000px;
    justify-content: center;
  }
/*  .contentcontainer {
    display: flex;
    width: 500px;
  }*/
}
